In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import mean_absolute_error

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [3]:
df = pd.read_csv('F:/final/car_dekho.csv')
#df

In [4]:
year_old = 2023 - df['year']

In [6]:
df['year_old'] = year_old
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,year_old
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner,16
1,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner,11
2,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner,9
3,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner,16
4,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner,11

In [7]:
df['transmission'].unique()

array(['Manual'], dtype=object)

In [8]:
df.drop(["transmission"], axis = 1, inplace = True)
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,owner,year_old
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,First Owner,16
1,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,First Owner,11
2,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Second Owner,9
3,Maruti 800 AC,2007,60000,70000,Petrol,Individual,First Owner,16
4,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,First Owner,11

In [9]:
x = df.drop(["selling_price"], axis = 1)

y = df["selling_price"]

In [10]:
x_train, x_valid, y_train, y_valid = train_test_split(x, y, train_size = 0.90, random_state = 42)

print(f'Shape of x_train -: {x_train.shape}')
print(f'Shape of x_valid -: {x_valid.shape}')
print(f'Shape of y_train -: {y_train.shape}')
print(f'Shape of y_valid -: {y_valid.shape}')

Shape of x_train -: (42, 7)
Shape of x_valid -: (5, 7)
Shape of y_train -: (42,)
Shape of y_valid -: (5,)

In [12]:
num=[col for col in x.columns if x[col].dtypes!=object]
cat=[col for col in x.columns if x[col].dtypes==object]

In [14]:
ct_encoding = ColumnTransformer([("ord_encd", OrdinalEncoder(handle_unknown = "use_encoded_value", unknown_value = -99),
                                  cat)],remainder = "passthrough")

x_train = ct_encoding.fit_transform(x_train)
x_valid = ct_encoding.transform(x_valid)

In [16]:
model_rf= RandomForestRegressor(n_estimators = 100)

In [17]:
model_rf.fit(x_train, y_train)

RandomForestRegressor()

In [20]:
model_rf.score(x_train, y_train), model_rf.score(x_valid, y_valid)

(0.9901617551247763, 0.9630852549981381)

In [21]:
y_preds= model_rf.predict(x_valid)
y_preds

array([ 71350.  , 104350.  , 195650.  ,  65700.  , 669549.99])

In [22]:
mae = mean_absolute_error(y_valid, y_preds)
mae

39500.002